# -----------------------------------------------------------------------
# CADE Monitor — dependências Python
# -----------------------------------------------------------------------
Django>=4.2
gunicorn
python-dotenv
whitenoise
